@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Defines colours as global variables */
:root {
    --blue: rgb(2, 82, 156);
    --darkblue: #0f1d2c;
    --red: rgb(220, 30, 53);
    --darkred: #961b29;
    --darkbg: #111;
    --bg: rgb(219, 243, 254);
}

/* General Body Styles */
body {
    min-height: 100vh;
    font-family: "Inknut Antiqua", "PT Sans", "Sans Serif";
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--bg);
    color: var(--darkbg);
    transition: background-color 0.3s, color 0.3s;
    margin: auto;
}
.header img
{
    width: 100%;
    opacity: 45%;
}
/* Dark Mode Styles */
body.darkMode {
    background-color: var(--darkbg);
    color: var(--bg);
}

body.darkMode .card {
    background-color: var(--darkblue);
    color: var(--bg);
    border: 2px solid var(--darkred);
}

body.darkMode nav,
body.darkMode footer {
    background-color: var(--darkblue);
}

body.darkMode nav a:hover {
    color: var(--darkred);
    font-size: 110%;
}

body.darkMode button {
    background-color: #111;
    color: var(--bg);
}

body.darkMode button a {
    color: var(--bg);
}

body.darkMode button:hover {
    background: var(--darkred);
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--blue);
    color: var(--bg);
    border-top: 2px solid var(--red);
    position: sticky;
    margin-top: 10px;
}

footer {
    border-top: 2px solid var(--red);
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    background-color: var(--blue);
}

nav a {
    text-decoration: none;
    color: var(--bg);
    transition: color 0.5s ease-in-out;
}

nav a:hover {
    color: var(--red);
    font-size: 115%;
}

/* Gallery and Grid Styles */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    justify-items: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Card Styles */
.card {
    background-color: var(--blue);
    color: var(--bg);
    border: 2px solid var(--red);
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 3px 10px var(--darkbg);
    transition: background-color 0.3s, color 0.3s;

}

.card:hover {
    transform: scale(101%);

}

/* Button Styles */
button {
    position: relative;
    color: var(--darkbg);
    border-radius: 5px;
    background-color: var(--bg);
}


button a {
    text-decoration: none;
    color: var(--darkbg);
}

.card button
{
    margin-top: 10px;
}

button:hover {
    background: var(--red);
    cursor: pointer;
    transform: scale(115%);

}

button:active {
    background: var(--red);
    transform: translateY(3px);
    box-shadow: 0 0 2px var(--darkbg);
}

/* Hidden */
.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Text and Heading Styles */
h1,
h2 {
    text-align: center;
}


p {
    font-family: "PT Sans";
    font-weight: bold;
    margin: 15px;
}

/* Layout Adjustment for Media Queries */
@media screen and (max-width: 900px) {
    .small {
        display: block;
    }

    .big {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}