/* Google Map iframe styles */
.google-map {
    width: auto;
    height: 91%;
    max-height: 800px;
    padding: 10px;
}

.skip-link {
    position: absolute;
    left: -10000px;
    top: auto;
    position: absolute;
    transition: top 0.4s;
    color: var(--bg);
}

.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
  }
  