.grid
{
    grid-template-columns: 1fr,auto;
}

.grid2
{
    grid-template-columns: 1fr,1fr;
}

@media screen and (min-width: 900px) {
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
}